* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}



header {
  position: fixed;
  right: 0;
  top: 0;
  height: 40px;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 17px 11%;

  transition: all 0.45s ease;
}

/* .logo img {
  width: 100%;
  height: 0px;
} */

.navbar {
  display: flex;
  position: relative;
  left: 80px;
}
.navbar a {
  font-size: 15px;
  color: var(--other-color);
  font-weight: 400;
  padding: 10px 25px;

  /* background: transparent; */
  border-radius: 30px;
  transition: all 0.45s ease;
}
.navbar :hover {
  color: #000000;
  font-weight: 600;
}


.icons {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.icons i {
  height: 50px;
  width: 50px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--other-color);
  font-size: 22px;
  margin-right: 25px;
  margin-left: 10px;
  transition: all 0.45s ease;
}

.icons i:hover {
  transform: scale(0.9);
}

.home {
  height: 100vh;
  width: auto;
  background-size: cover;
  position: relative;
}
.au-img {
  width: 100%;
  max-height: 80vh;
  margin-top: 50px;
}
.author-text{
    position: absolute;
    color: white;
    text-align:left;
    bottom: 150px;
    font-size: 30px;   
 }
